@charset 'utf-8';

/// Customize Bootstrap's sass to extend the base config.
///
/// Import strategy: only include Bootstrap's sass we need.
///
/// Note 1: the order of instructions matters! Some Bootstrap's stylesheets are required no matter what!
///
/// Note 2: Bootstrap does not currently support the use of the new `@use` sass directive, thus we still need to use the old `@import` directive.
///
/// 1. First import function and variables configuration
@import '@bootstrap/functions';
///
/// 2. Override Bootstrap's Sass global options and default variables (optional)
$enable-gradients: true;
$enable-shadows: true;
///
/// 2. Extend Bootstrap's theme map (optional)
/// 2.1. First import variables configuration
@import '@bootstrap/variables';
///
/// 2.2 Import custom theme map
@import 'variables/colors';
@import 'components/popover';
///
/// 2.3 Merge it with Bootstrap's theme map
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
///
/// 3. Import required Bootstrap's sass
/// Configuration
@import '@bootstrap/variables';
@import '@bootstrap/variables-dark';
@import '@bootstrap/maps';
@import '@bootstrap/mixins';
@import '@bootstrap/root';
///
/// 4. Import optional Bootstrap's components (uncomment as needed)
/// 4.1. Layout & components
@import '@bootstrap/utilities';
@import '@bootstrap/reboot';
@import '@bootstrap/type';
@import '@bootstrap/images';
@import '@bootstrap/containers';
@import '@bootstrap/grid';
@import '@bootstrap/buttons';
@import '@bootstrap/card';
@import '@bootstrap/popover';
///
/// 4.2. Helpers
@import '@bootstrap/helpers';
///
/// 4.3. Utilities
@import '@bootstrap/utilities/api';
///
/// 5. Import additional custom sass files (optional)
@import 'base';
@import 'components';
