/* ########################################
############# CUSTOM COLORS ###############
######################################## */

/// @type Color
$custom-neutral-50: #ecf2f8 !default; // Light Grayish Blue
$custom-neutral-200: #9eafc2 !default; //  Grayish Blue
$custom-neutral-400: #6d7f97 !default; // Desaturated Dark Blue
$custom-neutral-600: #48556a !default; // Very Dark Grayish Blue

/// Custom color map
/// @prop {String} keys - Custom color labels
/// @prop {Map} values - Custom color codes
$custom-theme-colors: (
  'custom-neutral-50': $custom-neutral-50,
  'custom-neutral-200': $custom-neutral-200,
  'custom-neutral-400': $custom-neutral-400,
  'custom-neutral-600': $custom-neutral-600,
);
