@import '@bootstrap/mixins';

.card {
  max-width: 400px;
  @include media-breakpoint-up('lg') {
    max-width: 800px;
  }

  & .card-thumbnail {
    @include media-breakpoint-up('lg') {
      min-width: 40%;
    }
    & img {
      width: 100%;
      display: block;
      aspect-ratio: 16 / 9;
      @include media-breakpoint-up('lg') {
        height: 100%;
        object-position: left center;
      }
    }
  }

  & .card-body {
    padding-top: 2rem;
    padding-inline: 2.5rem;
  }

  & .card-avatar {
    max-width: 48px;
    aspect-ratio: 1 / 1;
  }

  & .card-footer {
    padding: 1rem 2.5rem;
  }

  & .card-btn {
    width: min-content;
    aspect-ratio: 1 / 1;
  }
}
