@import '@bootstrap/mixins';
@import '../variables';

.btn[data-bs-toggle='popover'] {
  min-width: 2.5em;
  aspect-ratio: 1 / 1;

  @include media-breakpoint-down('lg') {
    z-index: 9999;
  }

  &:focus-visible {
    box-shadow: none;
    border-color: transparent;
    outline: 2px solid rgba($blue-300, 1);
    outline-offset: 4px;
  }

  & svg {
    pointer-events: none;
    & path {
      fill: $custom-neutral-400;
    }
  }

  &[aria-expanded] {
    background-color: $custom-neutral-600;

    @include media-breakpoint-down('lg') {
      background-color: $custom-neutral-400;
    }

    & svg path {
      fill: $white;
    }
  }
}

.custom-popover {
  // Override Bootstrap's popover default variables.
  --bs-popover-header-padding-x: 0;
  --bs-popover-header-padding-y: 0;
  --bs-popover-body-padding-x: 0;
  --bs-popover-body-padding-y: 0;
  --bs-popover-bg: #{$custom-neutral-600};
  --bs-popover-border-color: transparent;
  --bs-popover-border-radius: #{$border-radius-xl};
  --bs-popover-header-bg: transparent;
  --bs-popover-header-color: #{$custom-neutral-200};

  // Extend styling (desktop-first since popovers are not mobile-friendly).
  padding: 1rem 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  border: none;
  font-family: $font-family-body;
  letter-spacing: 4px;
  translate: 0 -1em;

  & [data-name='popover-content'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: $white;

    & a:is(:hover, :focus-visible) svg path {
      fill: $custom-neutral-200;
    }
  }

  @include media-breakpoint-down('lg') {
    max-width: unset;
    inset: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;

    border-radius: 0;
    box-shadow: none;

    transform: none !important;
    translate: unset;

    & .popover-arrow {
      display: none;
    }
  }
}
